:root{
    --heroImgWidth: 400px;
}
#hero{
    max-width: 1000px;
}
#hero>img{
    max-width: var(--heroImgWidth);
    object-fit: contain;
    border: 2px solid black;
    z-index: 4;
}
#hero>h1{
    position: absolute;
    top: 50px;
    left: calc(var(--heroImgWidth) - 75px);
    font-size: 40px;
    z-index: 5;
    background-color: aquamarine;
}